*{
    margin: 0;
    padding: 0;box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #1a1a1a;
    color: white;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
}
.logo{
    font-size: 24px;
    font-weight: bold;
    color: #00d2ff;
    cursor: pointer;
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 20px;

}
.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.navlinks a:hover{
    color: #00d2ff;
    transition: 0.3s ease-in-out;
}
.hamburger{
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* design for mobile phone */

@media(max-width : 768px){
    .nav-links{
        display: none;
        

    }
    .nav-links.active{
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        text-align: center;
        padding: 20px 0px;
        
    }
    .hamburger{
        display: block;
    }
}